// TODO vendor prefixes (with nib ideally)
vendor(property, args...)
	-moz-{property} args
	-o-{property} args
	-webkit-{property} args
	{property} args

transform(args...)
	vendor(transform, args)
transition(args...)
	vendor(transition, args)


color-bg = #cdcdcd
color-bottom = rgba(darken(color-bg, 10%), 0.5)
color-pen = #136

// see http//jsfiddle.net/NeqCC/
inset-text-shadow(x, y, blur, bg=color-bg, color=#000)
	text-shadow x y blur bg, 0 0 0 color, x y blur bg


body
	background color-bg
	text-align center
	padding-bottom 4em

#intro
	font-family 'Rammetto One', sans-serif
	color color-bottom
	h1
		inset-text-shadow 3px 5px 12px
		margin 0.5em 0 0.2em
		text-transform uppercase
		font-size 7em
	p
		margin 1em 0
		inset-text-shadow 1px 2px 4px
		color darken(color-bottom, 25%)
		// font-family 'Shadows Into Light', cursive
		// color color-pen
		// font-size 1.3em

#projects
	margin 4em auto 1em
	max-width 60em
	width 60%
	font-family 'Shadows Into Light', cursive
	position relative
	ul
		background radial-gradient(ellipse 78% 3em at center top, rgba(#000,0.47) 0%,rgba(#000,0) 60%)
		height 13em
		position relative
		overflow hidden
		list-style none
		display block
		top 1px
		margin 0
		padding 0
		&:before
			content ""
			position absolute
			top 0
			left 0
			right 0
			display block
			height 1.4em
			background radial-gradient(ellipse 80% 1.4em at center top, rgba(#000,0.4) 0%,rgba(#000,0) 60%)
			z-index 1
			pointer-events none
		li
			position absolute
			top: 0
			left: 50%
			display block
			a
				display block
				background #eee
				box-shadow 1px 3px 6px 1px rgba(#000,0.6)
				text-decoration none
				color color-pen
				font-size 1.3em
				position relative
				right 0
				transition right 0.2s
				padding 0.2em 1.2em 0.2em 8em
			&:nth-child(-n+4) a
				padding 0.2em 8em 0.2em 1.2em
				&:hover
					right 1em
			&:nth-child(0n+5) a
			&:nth-child(0n+6) a
				left 0
				transition left 0.2s
				&:hover
					left 1em

			&:nth-child(1)
				transform translate(-17em, -1.8em), rotate(-25deg)
			&:nth-child(2)
				transform translate(-15em, -0.9em), rotate(-70deg)
			&:nth-child(3)
				transform translate(-4.8em, -2.6em), rotate(-40deg)
			&:nth-child(4)
				transform translate(-1.2em, -1.7em), rotate(-60deg)
			&:nth-child(5)
				transform translate(-3.7em, -2.9em), rotate(50deg)
			&:nth-child(6)
				transform translate(0, -1em), rotate(30deg)
